body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: arial,sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding:20px;
    font-size: 5rem;
    border:none;
    background-color: hsl(0, 0%, 20%);
    color:white
}
#key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding:25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none ;
    background-color: hsl(233, 97%, 58%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(233, 97%, 68%);
}
button:active{
    background-color: hsl(233, 97%, 78%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
.equal-btn{
    background-color: hsl(275, 100%, 46%);
}
.equal-btn:hover{
    background-color: hsl(275, 100%, 56%);
}
.equal-btn:active{
    background-color: hsl(275, 100%, 66%);
}
